*.exe
*.obj
*.dll   
*.pdb
*.log   
*.ilk
*.exe
*.venv
#Ignore examples of clas
ejemplos_clase
pruebas
pruebas.cpp
# Archivos compilados de Linux
Unidad_3/Ejercicio_2
Unidad_3/fibonacci
Unidad_3/order_numbers
Ejercicio_3
fibonacci 
Fundamentos-Uni/Unidad_4/Ejercicio_1
Fundamentos-Uni/Unidad_4/Ejercicio_2
Fundamentos-Uni/Unidad_4/Ejercicio_4
Fundamentos-Uni/Unidad_4/Ejercicio_5
